name: zig

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{matrix.os}}
    name: Build
    steps:
      - uses: actions/checkout@v3
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.2

      - name: Build
        run: zig build

      - name: Smoke Test
        run: |
          zig build run
          PID=$!
          sleep 5

          kill $PID || true
